My new form!
<p>
	<!--<form method='post' action='/my_form'>
		<input type= 'text' name='input1'>
		<input type= 'submit'>
	</form>
-->

<!--	<%= form_tag '/my_form' do%>
		<%= text_field_tag 'input1'%>
		<%= submit_tag 'Go!'%>
	<% end %>
-->

	<%= form_for(@post) do |f| %>

	<% end %>
	
</p>